.faq-section {
	background-image: url(../../assets/faq-papre.png);
	background-repeat: no-repeat;
	background-size: 510.856px 87%;
	/* background-size: 40% 100%; */
	background-position: 0 0;
	padding: 116px 0 167px 0;
}

.faq-section .title {
	margin-bottom: 43px;
}

.faq-section .faq-content__box .faq-content__title {
	color: var(--white);
	margin: 9px 0;
	font-size: 20px;
	font-weight: 500;
}

.faq-section .faq-content__box .faq-content__info {
	color: #FFF;
	width: 620px;
	font-size: 15px;
	font-weight: 400;
}

@media screen and (max-width: 1250px) {
	.faq-section {
		background-size: 241.856px 50%;
	}
}

@media screen and (max-width: 992px) {
	.faq-section {
		background-image: none;
	}
}

@media screen and (max-width: 768px) {
	.faq-section .faq-content__box .faq-content__info {
		width: 90%;
	}
}

@media screen and (max-width: 480px) {
	.faq-section .faq-content__box .faq-content__info {
		width: 329px;
		font-size: 13px;
	}

	.faq-section .title {
		margin-bottom: 14px;
		text-align: center;
	}

	.faq-section {
		padding: 728px 0 134px 0;
		background-image: url(../../assets/cupid.png);
		background-size: 82% 32%;
		background-position: -78% 38%;
		background-repeat: no-repeat;
	}

	.faq-section .faq-content__box .faq-content__title {
		font-size: 15px;
		margin: 6px 0;
	}
}

@media screen and (max-width: 390px) {
	.faq-section .faq-content__box .faq-content__info {
		width: 100%;
	}
}