/* header start */
.header {
	padding-top: 46px;
}

.header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header .nav-list {
	display: flex;
	gap: 24px;
	align-items: center;
}

.header .nav-link {
	color: var(--white);
	font-size: 13px;
	font-weight: 600;
}

/* .header .social link */
.header .social-link {
	position: relative;
	overflow: hidden;
}

.header .social-link:hover {
	overflow: visible;
}

.header .social-link:hover>.socials-dropdown {
	bottom: -285%;
}

.header .social-link .socials-dropdown {
	position: absolute;
	bottom: -335%;
	left: 0;
	padding: 4px 5px 11px 7px;
	right: 0;
	width: 70px;
	border-radius: 0px 0px 10px 10px;
	background: var(--White, #F5F5F5);
	transition: all 0.2s linear;
}

.header .social-link .socials-dropdown a {
	color: var(--pink-20);
	font-size: 10px;
	line-height: normal;
	font-weight: 600;
}

/* .header .social link */
.header .get-valentine__btn {
	color: var(--white);
	font-size: 24px;
	font-weight: 700;
	margin-left: 23px;
}

/* footer start */
.footer {
	background-image: url(../../assets/footer-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 33px 0;
}

.footer .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer .social-media {
	display: flex;
	align-items: center;
	gap: 45px;
	margin-right: 107px;
}

.footer .nav-list {
	display: flex;
	align-items: center;
	gap: 24px;
}

.footer nav {
	background-image: url(../../assets/footer-box-bg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 53px 0;
}

.footer .nav-list .nav-link {
	color: var(--purple);
	font-size: 20px;
	font-weight: 600;
}

.footer .media-bg__box {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* media query start */
@media screen and (max-width: 992px) {
	.footer .nav-list .nav-link {
		font-size: 18px;
	}

	.footer .social-media {
		gap: 20px;
		margin-right: 55px;
	}

	.footer .social-media img {
		width: 45px;
		height: 45px;
	}
}

@media screen and (max-width: 768px) {

	.header .header-log {
		width: 43px;
		height: 69px;
	}

	.footer .footer-logo {
		width: 43px;
		height: 71px;
	}

	.header .header-log img {
		width: 100%;
		height: 100%;
	}

	.header .get-valentine__btn {
		width: 120px;
		margin-top: 5px;
		margin-left: 0;
	}

	.header .get-valentine__btn>img,
	.footer .get-valintine>img {
		width: 100%;
	}

	.footer {
		padding: 0;
	}

	.footer .get-valintine {
		margin-top: 6px;
		width: 95px;
	}

	.footer .nav-list .nav-link {
		font-size: 11px;
	}

	.footer .social-media img {
		width: 32px;
		height: 28px;
	}
}

@media screen and (max-width: 610px) {
	.header .nav-list {
		gap: 7px;
	}

	.header .nav-link {
		font-size: 11px;
	}

	.footer .get-valintine {
		display: none;
	}

	.footer .media-bg__box {
		background-image: url(../../assets/footer-box-bg.png);
		padding: 53px 0;
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	.footer nav {
		padding: 0;
		background: none;
	}
}

@media screen and (max-width: 480px) {

	.header .get-valentine__btn {
		display: none;
	}

	.header {
		padding-top: 30px;
	}

	.header .container {
		justify-content: start;
	}

	.header .header-log {
		margin-right: 27px;
	}

	.footer .social-media {
		margin-right: 7px;
	}

	.footer .nav-list {
		gap: 5px;
	}

	.footer .media-bg__box {
		padding: 45px 0;
	}
}