.tokenomics-section {
	padding-bottom: 482px;
	background-image: url(../../assets/cupid.png);
	background-repeat: no-repeat;
	background-size: auto 133%;
	background-position: 0 -110px;
	position: relative;
}

.tokenomics-section .title {
	display: flex;
	align-items: center;
	justify-content: center;
}

.tokenomics-section>.title .title-text {
	margin-top: -20px;
}

.tokenomics-section .token-heart {
	margin-left: 125px;
}

.tokenomics-section .tokenomics-heart {
	position: absolute;
	top: 188px;
	right: 0;
	transform: rotate(-14.739deg);
}

@media screen and (max-width: 768px) {
	.tokenomics-section .token-heart {
		margin-left: 0;
	}
}

@media screen and (max-width: 530px) {
	.tokenomics-section .tokenomics-heart {
		display: none;
	}

	.tokenomics-section {
		background-size: auto 80%;
		background-position: 0 286px;
	}
}

@media screen and (max-width: 480px) {
	.tokenomics-section {
		padding-bottom: 0;
		background-image: none;
	}

	.tokenomics-section .money-heart {
		width: 83.093px;
		height: 125px;
	}

	.tokenomics-section .token-heart {
		width: 73.473px;
		height: 75.202px;
	}

	.tokenomics-section .title {
		gap: 10px;
	}
}