.intro-section {
	position: relative;
}

.intro-section .intro-content {
	margin-left: 435px;
	padding-top: 124px;
}

.intro-section .intro-title {
	color: var(--white);
	font-family: 'KnewaveRegular';
	font-size: 40px;
	font-weight: 400;
	width: 570px;
}

.intro-section .intro-info {
	color: var(--pink-20);
	font-size: 20px;
	font-weight: 400;
	margin: 15px 0 18px 0;
}

.intro-section .intro-btn {
	border-radius: 30px;
	border: 5px solid var(--pink-20);
	width: 287px;
	height: 55px;
	line-height: 45px;
	color: var(--white, #F5F5F5);
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	transition: all 0.2s linear;
}

.intro-section .intro-btn:hover {
	background-color: var(--pink-20);
}

.intro-section .intro-envelop__img {
	position: absolute;
	top: -73px;
	right: 0;
	height: 693px;
}

.intro-section .intro-envelop__img img {
	height: 100%;
}