.intro-section {
	position: relative;
}

.intro-section .intro-content {
	padding-top: 124px;
}

.intro-section .intro-title {
	color: var(--white);
	font-family: 'KnewaveRegular';
	font-size: 40px;
	font-weight: 400;
}

.intro-section .intro-info {
	color: var(--pink-20);
	font-size: 20px;
	font-weight: 400;
	margin: 15px 0 18px 0;
}

.intro-section .intro-btn {
	border-radius: 30px;
	border: 5px solid var(--pink-20);
	width: 287px;
	height: 55px;
	line-height: 45px;
	color: var(--white, #F5F5F5);
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	transition: all 0.2s linear;
}

.intro-section .intro-btn:hover {
	background-color: var(--pink-20);
}

.intro-section .intro-envelop__img {
	position: absolute;
	top: -73px;
	right: 0;
	height: 693px;
	z-index: -1;
}

.intro-section .intro-envelop__img img {
	height: 100%;
}

.intro-section .media-envelope__img {
	display: none;
}

/* media query start */
@media screen and (max-width: 1250px) {
	.pl-434 {
		padding-left: 200px !important;
	}
}

@media screen and (max-width: 992px) {
	.pl-434 {
		padding-left: 0px !important;
	}
}

@media screen and (max-width: 800px) {
	.intro-section .media-envelope__img {
		display: block;
		text-align: center;
		width: 60%;
		margin: 0 auto;
	}

	.intro-section .media-envelope__img img {
		width: 100%;
	}

	.intro-envelop__img {
		display: none;
	}

	.intro-section .intro-content {
		padding-top: 35px;
	}
}

@media screen and (max-width:480px) {
	.intro-section .intro-title {
		font-size: 31px;
	}

	.intro-section .intro-info {
		padding-top: 8px;
		font-size: 13px;
		color: var(--white);
	}

	.intro-section .intro-btn {
		border-width: 2px;
		width: 327px;
		height: 68px;
		line-height: 65px;
	}

	.intro-section .media-envelope__img {
		width: 367px;
		margin-top: 10px;
	}
}