/* valentine-section start */
.valentine-section {
	padding: 268px 0 182px;
	position: relative;
}

.valentine-section .hearts-group {
	position: absolute;
	top: -11%;
	left: 0;
	width: 512px;
	height: 1016px;
	z-index: -1;
}

.valentine-section .container {
	position: relative;
}

.valentine-section .valentine-content {
	margin-left: 391px;
}

.valentine-section .title-text {
	margin-left: 44px;
}

.valentine-section .eros-img {
	position: absolute;
	bottom: 0;
	right: -83px;
}

.valentine-card {
	background-image: url(../../assets/valentine-content-bg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	max-width: 720px;
	width: 100%;
	margin-top: 17px;
	text-align: center;
	position: relative;
	height: 428px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 46px;
}

.valentine-card .valentine-card__title {
	color: var(--pink-20);
	font-size: 32px;
	font-weight: 700;
}

.valentine-card .arrow-img {
	position: absolute;
	top: 46px;
	left: -86px;
	width: 156px;
	height: 154px;
}

.valentine-card .arrow-img img,
.valentine-card .heart-img img {
	width: 100%;
	height: 100%;
}

.valentine-card .heart-img {
	width: 130px;
	height: 161px;
	position: absolute;
	top: -13px;
	right: -80px;
}

.valentine-card__two {
	background-image: url(../../assets/icons/get-valintine-bg-heart.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 516px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.valentine-card__two h2 {
	color: var(--pink-20);
	font-size: 48px;
	font-weight: 700;
}

/* media query start */
@media screen and (max-width: 1250px) {
	.valentine-section .valentine-content {
		margin-left: 124px;
	}

	.valentine-section .title-text {
		color: var(--pink-20) !important;
	}
}

@media screen and (max-width: 992px) {
	.valentine-section .hearts-group {
		top: 0;
		height: 100%;
	}

	.valentine-section .hearts-group>img {
		height: 100%;
	}

	.valentine-card__two {
		width: 70%;
	}

	.valentine-section .valentine-content,
	.valentine-section .title-text {
		margin-left: 0;
	}

	.valentine-card .arrow-img {
		left: -35px;
	}

}

@media screen and (max-width: 768px) {
	.valentine-card .heart-img {
		width: 110px;
		height: 141px;
		top: -45px;
		right: -35px;
	}

	.valentine-card__two h2 {
		font-size: 38px;
		width: 232px;
	}

	.valentine-section .eros-img {
		transform: rotate(31deg);
		bottom: -52px;
		width: 200px;
		height: 210px;
		right: -21px;
	}

	.valentine-card .arrow-img {
		top: -25px;
		width: 115px;
		height: 135px;
		left: -20px;
	}

	.valentine-section {
		padding: 110px 0 103px 0;
	}
}

@media screen and (max-width: 480px) {
	.valentine-section .hearts-group {
		display: none;
	}

	.valentine-section .title-text {
		color: var(--white) !important;
		text-align: center;
	}

	.valentine-card {
		margin-top: 32px;
		height: 352px;
		max-width: 100%;
		padding: 65px 0 45px 0;
	}

	.valentine-card .heart-img {
		width: 62px;
		height: 77px;
		top: -7px;
		right: -11px;
	}

	.valentine-section .eros-img {
		width: 120px;
		height: 142px;
		bottom: -35px;
		right: 13px;
	}

	.valentine-card .arrow-img {
		width: 75px;
		height: 74px;
		transform: rotate(-3.407deg);
		top: -13px;
		left: 3px;
	}

	.valentine-card .valentine-card__title:first-child {
		margin-bottom: 20px;
	}

	.valentine-card .valentine-card__title {
		font-size: 38px;
		width: 208px;
		margin: 0 auto;
	}

	.valentine-card__two {
		width: 95%;
		background-size: 100% 240px;
		/* top: 30%;
		position: relative; */
	}
}