:root {
	--white: #f5f5f5;
	--pink-20: #FF69CC;
	--purple: #7062F1;
	--gray: #3C3C3B;
}

html {
	box-sizing: border-box;
	scroll-behavior: auto;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;

}

ul,
ol {
	margin: 0;
	padding-left: 0;
}

li {
	list-style: none;
}

a {
	display: inline-block;
	text-decoration: none;
}

button {
	border: none;
	padding: 0;
	margin: 0;
	background: transparent;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	background-image: url(./assets/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.title .title-text,
.title .title-text__pink {
	color: #F5F5F5;
	font-family: 'KnewaveRegular', sans-serif;
	font-size: 36px;
	font-weight: 400;
	text-transform: uppercase;
}

.title .title-text__pink {
	color: #FF69CC;
}

.pl-434 {
	padding-left: 434px;
}

.wrapper {
	overflow: hidden;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}

.main {
	min-height: calc(100vh - 190px - 230px);
}

@media screen and (max-width: 1380px) {
	.container {
		max-width: 100%;
		padding-left: 30px;
		padding-right: 30px;
	}
}

@media screen and (max-width: 480px) {
	body {
		background-image: url(./assets/media-bg.png);
	}
}